<style>
  
/* 
  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  } */
body{
  font-family: 'Chilanka', serif;
	font-size: x-large;
	color: #333333;
	line-height: 1.5em;
	background-image: linear-gradient(to right, white, grey);
}
.container {
	margin: 15px auto;
	width: 90%;
	max-width: 960px;
	display: grid;
	
}

 
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{getTitle()}}</span>

  <button type="button" (click)="navigateHome()">Home</button>
  <button type="button" (click)="navigateAbout()">About</button>
</div>
<body class="container">
<form #searchForm="ngForm">
<div class="content" role="main">
  <div [ngSwitch]="currentSection">
    <div *ngSwitchDefault>
      <h1>This is our Home page!!!!</h1>
      <label for="drugname">Name of Drug:</label><input type="text" name="name" id="drugname" [(ngModel)]=name><br>
		  <label >Which country are you coming from?</label>
            <select id="fCountry" name = "fromCountry" [(ngModel)]=fromCountry>
              <option value = "USA">United States of America</option>
              <option value = "India">India</option>
              <option value = "South_Africa">South Africa</option>
              <option value = "Germany">Germany</option>
            </select>
      <label >Which country are you travelling to?</label>
            <select id="tCountry" name = "toCountry" [(ngModel)]=toCountry>
              <option value = "USA">United States of America</option>
              <option value = "India">India</option>
              <option value = "South_Africa">South Africa</option>
              <option value = "Germany">Germany</option>
            </select>
            <br> 
      <button (click)="searchFunction()">Search</button>
     

      <div *ngIf="searchResults">
        {{this.toStringname()}}
        {{this.toStringcountry()}}
        {{this.toStringdosage()}}
      </div>
    </div>
    <div *ngSwitchCase="'about'">This is out about page!!</div>
  </div>
</div>
</form>
</body>

<router-outlet></router-outlet>
